fastapi==0.63.0
uvicorn==0.13.4

selenium~=4.0.0
h11~=0.12.0
pip~=21.1.1
cryptography~=35.0.0
attrs~=21.2.0
trio~=0.19.0
outcome~=1.1.0
sniffio~=1.2.0
sortedcontainers~=2.4.0
cffi~=1.15.0
idna~=3.3
certifi~=2021.10.8
starlette~=0.13.6
pydantic~=1.8.2
six~=1.16.0
urllib3~=1.26.7
click~=7.1.2
wsproto~=1.0.0
pycparser~=2.20
setuptools~=56.0.0

requests~=2.26.0
SQLAlchemy~=1.4.26
pytest~=6.2.2
configparser~=5.0.2
py~=1.10.0
lxml~=4.6.3
colorama~=0.4.4
greenlet~=1.1.2
chardet~=4.0.0